body {
    background-color: #333333; /* Dunkelgrauer Hintergrund */
    color: #ffffff; /* Weißer Text */
}

.header {
    margin-bottom: 20px;
}

.local-menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #2f2f2f; /* Hintergrundfarbe des Menüs */
    border-left: 1px solid #444444; /* Trennlinie */
    width: 200px;
}

.welcome {
    margin: 20px 0;
}

table {
    color: white; /* Schriftfarbe in der Tabelle auf Weiß gesetzt */
}

footer {
    background-color: #2f2f2f; /* Hintergrundfarbe des Fußbereichs */
    position: fixed;
    bottom: 0;
    width: 100%; /* Footer bleibt am unteren Ende fixiert */
}
