body {
    background-color: #333333; /* Der hellere Grauton wurde hierher verschoben */
    color: #ffffff; /* Weißer Text */
}

.header {
    margin-bottom: 20px;
}

.local-menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #2f2f2f; /* Der dunklere Grauton wurde hierher verschoben */
    border-left: 1px solid #444444; /* Trennlinie */
    width: 200px;
}

.welcome {
    margin: 20px 0;
}

footer {
    background-color: #2f2f2f; /* Der dunklere Grauton wurde hierher verschoben */
}

table {
    color: #ffffff; /* Textfarbe in der Tabelle bleibt weiß */
}
